
	body{
		display:block;
	}
	
	#container{
		position: absolute;
		top:30px;
		left:10px;
		width:1053px;
		height:488px;
		cursor:pointer;
	}
	
	#tab_bar{
		position:relative;
		width:1042px;
		height:30px;
		position:relative;
		left: 11px;
		opacity:0.7;
		font-size:12px;
		color:white;
		text-align: center;
		vertical-align: middle;
		line-height: 30px; 
		font-weight: 900;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	
	#tab_bar_forest{
		position:absolute;
		left:50px;
		width:100px;
		height:100%;
		background-image:url(../assets/tab_buttons.png);
		z-index:3;
	}
	
	#forestTab{
		position:absolute;
		left:50px;
		width:600px;
		height:416px;
		background-image:url(../assets/forestBackground.jpg);
		background-size:contain;
		background-repeat: no-repeat;
	}
	
	#forestButton{
		position:absolute;
		top:390px;
		left:270px;
		width:25px;
		height:10px;
	}
	
	#forestInfo{
		position:absolute;
		left:670px;
		width:350px;
		height:416px;
		background-color: red;
		background-image:url(../assets/high_druid.jpg);
		background-size:cover;
		background-repeat: no-repeat;
		opacity: 0.7;
	}
	
	#reward
	{
		position:absolute;
		left:80px;
		top:360px;
		width:200px;
		height:50px;
		opacity: 0.5;
		background-color: green;
	}
	
	#win_lose
	{
		position:absolute;
		left:125px;
		top:20px;
		width:100px;
		height:50px;
		opacity: 0.25;
		background-color: blue;
	}
	
	#canvas{
		position:relative;
		width:1053px;
		height:458px;
	}